*.pyc
*.json
Person/__pycache__/Person.cpython-311.pyc
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/Metadaten_Fehldaten_01420_19790101_20231231.html
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/Metadaten_Fehldaten_01420_19790101_20231231.txt
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/Metadaten_Fehlwerte_01420_19790101_20231231.txt
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/Metadaten_Geographie_01420.txt
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/Metadaten_Geraete_Erdbodentemperatur_01420.html
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/Metadaten_Geraete_Erdbodentemperatur_01420.txt
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/Metadaten_Parameter_eb_stunde_01420.html
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/Metadaten_Parameter_eb_stunde_01420.txt
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/Metadaten_Stationsname_Betreibername_01420.html
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/Metadaten_Stationsname_Betreibername_01420.txt
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/produkt_eb_stunde_19790101_20231231_01420.txt
building_analysis/dhw_profiles
building_analysis.log
tests/speed_tests
building_analysis/test_dhw_w98916075.csv
building_analysis/results
building_analysis/results
grid_calculation/streets_25832.gpkg
grid_calculation/streets_only_25832.gpkg
grid_calculation/streets_only_clean_25832.gpkg
grid_calculation/streets_only_clean_length_25832.gpkg
grid_calculation/supply_point.gpkg
grid_calculation/test.osm
*.png
*.html