*.pyc
*.json
Person/__pycache__/Person.cpython-311.pyc
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/Metadaten_Fehldaten_01420_19790101_20231231.html
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/Metadaten_Fehldaten_01420_19790101_20231231.txt
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/Metadaten_Fehlwerte_01420_19790101_20231231.txt
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/Metadaten_Geographie_01420.txt
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/Metadaten_Geraete_Erdbodentemperatur_01420.html
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/Metadaten_Geraete_Erdbodentemperatur_01420.txt
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/Metadaten_Parameter_eb_stunde_01420.html
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/Metadaten_Parameter_eb_stunde_01420.txt
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/Metadaten_Stationsname_Betreibername_01420.html
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/Metadaten_Stationsname_Betreibername_01420.txt
building_analysis/stundenwerte_EB_01420_19790101_20231231_hist/produkt_eb_stunde_19790101_20231231_01420.txt
building_analysis/dhw_profiles
building_analysis.log
tests/speed_tests
building_analysis/test_dhw_w98916075.csv
building_analysis/results
building_analysis/results
grid_calculation/streets_25832.gpkg
grid_calculation/streets_only_25832.gpkg
grid_calculation/streets_only_clean_25832.gpkg
grid_calculation/streets_only_clean_length_25832.gpkg
grid_calculation/supply_point.gpkg
grid_calculation/test.osm
*.png
*.html
sensitivity_analysis/unrenovated/max_cop/data/supply_temperature_3.0C.csv
sensitivity_analysis/unrenovated/max_cop/data/supply_temperature_3.888888888888889C.csv
sensitivity_analysis/unrenovated/max_cop/data/supply_temperature_3.4444444444444446C.csv
sensitivity_analysis/unrenovated/max_cop/data/supply_temperature_4.333333333333333C.csv
sensitivity_analysis/unrenovated/max_cop/data/supply_temperature_4.777777777777778C.csv
sensitivity_analysis/unrenovated/max_cop/data/supply_temperature_5.222222222222222C.csv
sensitivity_analysis/unrenovated/max_cop/data/supply_temperature_5.666666666666666C.csv
sensitivity_analysis/unrenovated/max_cop/data/supply_temperature_6.111111111111111C.csv
sensitivity_analysis/unrenovated/max_cop/data/supply_temperature_6.555555555555555C.csv
sensitivity_analysis/unrenovated/max_cop/data/supply_temperature_7.0C.csv
sensitivity_analysis/unrenovated/supply_temperature/data/supply_temperature_85.0C.csv
sensitivity_analysis/unrenovated/supply_temperature/data/supply_temperature_86.11111111111111C.csv
sensitivity_analysis/unrenovated/supply_temperature/data/supply_temperature_87.22222222222223C.csv
sensitivity_analysis/unrenovated/supply_temperature/data/supply_temperature_88.33333333333333C.csv
sensitivity_analysis/unrenovated/supply_temperature/data/supply_temperature_89.44444444444444C.csv
sensitivity_analysis/unrenovated/supply_temperature/data/supply_temperature_90.55555555555556C.csv
sensitivity_analysis/unrenovated/supply_temperature/data/supply_temperature_91.66666666666667C.csv
sensitivity_analysis/unrenovated/supply_temperature/data/supply_temperature_92.77777777777777C.csv
sensitivity_analysis/unrenovated/supply_temperature/data/supply_temperature_93.88888888888889C.csv
sensitivity_analysis/unrenovated/supply_temperature/data/supply_temperature_95.0C.csv
.DS_Store
sensitivity_analysis/booster
sensitivity_analysis/booster/supply_temperature
sensitivity_analysis/booster/supply_temperature/data
sensitivity_analysis/booster/supply_temperature/data/supply_temperature_25C.csv
